<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- sets the file path root for the images -->
    <add key="FileHandler:FilePathRoot" value="\\GISDataFS\GISData\Processed_Raster\"/>
    <add key="FileHandler:CCBYImage" value="ccbyECan.png"/>
    <add key="FileHandler:Imagetype4WaterMrk" value="image/bmp,image/gif,image/jpeg,image/jpeg,image/png,image/tiff,image/tiff"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
  </system.webServer>
</configuration>